<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Songs</h1>
    <ul>
        <% songs.filter(song =>song.userLIkes.includes(user._id) !== true).forEach( song => { %>
                <li class='todoItem' data-id='<%=song._id%>'>
                    <span class='not'>
<!-- Start of updating simple text to include an iframe for the youtube video      AdnanIkram 3 sep 2022-->                    
<!-- <iframe width="560" height="315" src=" -->
<!-- Start of updating iframe for spotify video      AdnanIkram 3 sep 2022-->
                    <iframe style="border-radius:12px" src="<%=song.songURL.replace('https://open.spotify.com/','https://open.spotify.com/embed/')%>" width="50%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<!-- End of updating simple text to include an iframe for the youtube video      AdnanIkram 3 sep 2022-->                

<!-- " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<!-- End of updating simple text to include an iframe for the youtube video      AdnanIkram 3 sep 2022-->                
                    </span>
<!-- Start of implementing the like functionality                                  AdnanIkram 3 sep 2022-->                
                    <span class='<%= (song.userLIkes.includes(user) !== true) === true ? 'not' : 'completed'%>'>Like</span>
<!-- End of implementing the like functionality                                    AdnanIkram 3 sep 2022-->                                

                    <span class='del'> Delete </span>
                </li>
        <% }) %>    
    </ul>
    <ul>
    <% songs.filter(song =>song.userLIkes.includes(user) === true).forEach( song => { %>
            <li class='todoItem' data-id='<%=song._id%>'>
                <span class='completed'>
<!-- Start of updating simple text to include an iframe for the youtube video      AdnanIkram 3 sep 2022-->
                <iframe width="560" height="315" src="
                    <%= song.songURL %>
                " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- End of updating simple text to include an iframe for the youtube video        AdnanIkram 3 sep 2022-->                
                </span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>
   

    <!-- <h2><%= user.userName %> has <%= liked %> things left to do.</h2> -->

    <form action="/songs/add" method='POST'>
        <input type="text" placeholder="Enter song Item" name='songURL'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>